<script id="indexTemplate" type="text/x-kendo-template">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#index">Главная</a></li>
                    <li><a href="#organizations">Организации</a></li>
                    <li><a href="#events">Мероприятия</a></li>
                    <li><a href="#news">Новости</a></li>
                    @*<li><a href="#about">О нас</a></li>
                        <li><a href="#contact">Связаться</a></li>*@
                    <li data-bind="visible: isGuest"><a data-bind="click: openEnterWidow">Вход</a></li>
                    @*<li><a href="#registration">Регистрация</a></li>*@
                    <li><a data-bind="click: goToPersonal, text: user.Login, visible: isAutorized"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="banner_image"></div>
        <div class="banner_content col-sm-10 col-sm-offset-1">
            Зарегистрируйте свою компанию. Опубликуйте событие.
            <br/>
            Получите эффективное привлечение участников и работу 
            <br/>
            с самым удобным инструментом для организаторов.
            <div class="banner_buttons">
                <div>
                    <button data-bind="click: goToHelp" class="light-button">Как это работает?</button>
                </div>
                <div>
                    <button class="weight-button" data-bind="click: start">Начать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="b-bignav">
            <div class="row">
                <div class="col-md-3">Публикуйте события</div>
                <div class="col-md-3">Привлекайте участников</div>
                <div class="col-md-3">Принимайте оплату билетов</div>
                <div class="col-md-3">Проверяйте билеты</div>
           </div>
        </div>
            <div id="filter-block">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Поиск событий" data-bind="value: Title" />
                    <button class="btn btn-default" data-bind="click: searchEvents">
                        <span class="glyphicon glyphicon-search" aria-hidden="true">
                        </span>
                    </button>
                </div>
            </div>
            <div id="events-list-block">
            </div>
             <h5>
                <a href="#events">Смотреть все мероприятия</a>
             </h5>
        </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="col-md-offset-2 col-md-2">
                <h5>О нас</h5>
                <a class="block" href="">Связаться</a>
                <a class="block" href="">Новости</a>
            </div>

            <div class="col-md-2">
                <h5>События</h5>
                <a class="block" href="">Организации</a>
                <a class="block" href="">Мероприятия</a>
            </div>

            <div >
                <h5>Мы в соцсетях</h5>
                <a class="btn btn-social-icon btn-google">
                <span class="fa fa-google"></span>
                </a>
                <a class="btn btn-social-icon btn-facebook" ><span class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a>
                <a class="btn btn-social-icon btn-linkedin" ><span class="fa fa-linkedin"></span></a>
                <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                <a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a>
                </div>
            </div>
    </footer>
    <div id="enterWindow">
        <div class="input-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Логин" data-bind="value: window.login"/>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Пароль" data-bind="value: window.password" />
        </div>
        <a data-bind="click: goToRegister">Зарегистрироваться</a>
        <button class="btn btn-default">Войти</button>
    </div>
</script>
<script id="categories" type="text/x-kendo-template">
    # for(var i=0; i < data.length; i++){#
    <div> #:data[i].Name#</div>
    #}#
</script>

<script id="event-item" type="text/x-kendo-template">
    # for(var i=0; i < data.length; i++){#
    <div class="event-item">
    <div class="event-date">
        <div class="event-month">#: data[i].Month#</div>
        <div class="event-day">#: data[i].Day#</div>
    </div>
        <h4><a class="event-header" data-id="#: data[i].Id#">#: data[i].Title# </a></h4>
        <p>#: data[i].ShortDescription#</p>
    </div>
    #}#
</script>