<script id="personalTemplate" type="text/x-kendo-template">
    <nav class="navbar navbar-default classic-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#index">Главная</a></li>
                    <li><a href="#organizations">Организации</a></li>
                    <li><a href="#events">Мероприятия</a></li>
                    <li><a href="#news">Новости</a></li>
                    <li data-bind="visible: isGuest"><a data-bind="click: openEnterWidow">Вход</a></li>
                    <li class="nav-active"><a data-bind="click: goToPersonal, text: user.Login, visible: isAutorized"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page row">
        <div class="col-md-3 user-info">
            <div class="user-card">
                <div class="form-group">
                    <img data-bind="attr: {src: user.LogoUrl}" class="img-circle" />
                </div>
                <div class="form-group">
                    <span class='user-name' data-bind="text: user.Login"></span>
                </div>
                <div class="form-group">
                    <span data-bind="text: user.Email"></span>
                </div>
                <div class="form-group">
                    <span data-bind="text: user.Phone"></span>
                </div>
                <div class="form-group">
                    <span data-bind="text: user.Site"></span>
                </div>
                <div class="form-group">
                    <span data-bind="text: user.Description"></span>
                </div>
                <div class="form-group">
                    <button class="k-primary" data-bind="click: editUserInfo">Редактировать</button>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="tabs">
                <span data-tab="events" data-bind="click: changeTab, css: {active-tab: isEventsActive}">Мои мероприятия</span>
                <span data-tab="tickets" data-bind="click: changeTab, css: {active-tab: isTicketsActive}">Мои билеты</span>
                <div class="tab-item" data-bind="visible: isEventsActive">
                    
                    <div class="form-group">
                        <button class="btn btn-default" data-bind="click: addEvent">Добавить</button>
                    </div>
                   <table class="table table-striped">
                       <tr>
                           <th>Название</th>
                           <th>Описание</th>
                           <th>Дата</th>
                           <th>Адрес</th>
                           <th>Действия</th>
                       </tr>
                       <tbody data-template="event-row" data-bind="source: events"></tbody>
                   </table>
                </div>
                <div class="tab-item" data-bind="visible: isTicketsActive">
                    <div class="form-inline">
                        <input type="text" data-bind="value: filter.TicketNumber" placeholder="Номер билета"/>
                        <input type="text" data-bind="value: filter.Fio" placeholder="ФИО"/>
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>Фио</th>
                            <th>Мероприятие</th>
                            <th>Тип</th>
                            <th>Статус</th>
                        </tr>
                        <tbody data-template="ticket-row" data-bind="source: tickets"></tbody>
                    </table>
                </div>
                  
            </div>
        </div>

    </div>
    <footer class="footer pageFooter">
        <div class="container-fluid">
            <div class="col-md-offset-2 col-md-2">
                <h5>О нас</h5>
                <a class="block" href="">Связаться</a>
                <a class="block" href="">Новости</a>
            </div>

            <div class="col-md-2">
                <h5>События</h5>
                <a class="block" href="">Организации</a>
                <a class="block" href="">Мероприятия</a>
            </div>

            <div>
                <h5>Мы в соцсетях</h5>
                <a class="btn btn-social-icon btn-google">
                    <span class="fa fa-google"></span>
                </a>
                <a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a>
                <a class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a>
                <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                <a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a>
            </div>
        </div>
    </footer>
    <div id="userEditCardWindow">
        <div class="form-group">
            <input class="form-control" type="text" data-bind="value: user.Login" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" data-bind="value: user.Email" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" data-bind="value: user.Phone" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" data-bind="value: user.Site" />
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text" data-bind="value: user.Description"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="file"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" data-bind="click: saveUserCard">Сохранить</button>
            <button class="btn"  data-bind="click: cancelEdit">Отмена</button>
        </div>
    </div>
    <div id="editCreateEventWindow">
        <div class="container-fluid">
            <div class="form-group">
                <input class="form-control" type="text" data-bind="value: singleEvent.Title" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" data-bind="value: singleEvent.Description" />
            </div>
            <div class="form-group">
                <input class="form-control" type="file" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" data-bind="value: singleEvent.Adress" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" data-bind="value: singleEvent.Date" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" data-bind="value: singleEvent.MapImgSrc" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" data-bind="value: singleEvent.MapImgHref" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" data-bind="click: addTicket">Добавить билет</button>
                <div class="form-inline" data-bind="visible: isAddingTickets">
                    <input class="form-control" type="text" placeholder="Тип" />
                    <input class="form-control" type="text" placeholder="Стоимость" />
                    <button class="btn-xs btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    <button class="btn-xs" data-bind="click: cancelAddTicket"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>
                            Тип
                        </td>
                        <td>
                            Цена
                        </td>
                        <td>
                            Действие
                        </td>
                    </tr>
                    <tbody data-template="windowticket" data-bind="source: singleEvent.Tickets"></tbody>
                </table>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Сохранить</button>
                <button class="btn" data-bind="click: cancelEdit">Отмена</button>
            </div>
        </div>
    </div>
    <script id="event-row" type="text/x-kendo-template">
        <tr>
            <td data-bind="attr: {data-id: Id}, text: Title"></td>
            <td data-bind="text: Description"></td>       
            <td data-bind="text: Date"></td>
            <td data-bind="text: Adress"></td>
            <td><button class="btn-xs btn-success">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                </button>
            </td>             
        </tr>
    </script>
    <script id="windowticket" type="text/x-kendo-template">
        <tr>
            <td data-bind="text: Type"></td>
            <td data-bind="text: Price"></td><td>
                <button class="btn-xs btn-success">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                </button>
            </td>
        </tr>
    </script>
    <script id="ticket-row" type="text/x-kendo-template">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Fio"></td>
            <td data-bind="text: EventTitle"></td>
            <td data-bind="text: Type"></td>
            <td data-bind="text: Status"></td>
        </tr>
    </script>
</script>


