<script id="categoriesTemplate" type="text/x-kendo-template">
    <div class="container">
        <div id="categoryBlock">
            <button class="waves-effect waves-teal btn addBtn" data-bind="click: openAddWindow">Добавить</button>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Имя </th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody data-template="category-row" data-bind="source: categories"></tbody>
            </table>
        </div>
        <div id="addWindow">
            <label>Русский</label>
            <input type="text" data-bind="value: category.rusName" />
            <label>Английский</label>
            <input type="text" data-bind="value: category.engName" />
            <button>Сохранить</button>
            <button>Отмена</button>
        </div>
    </div>
    <script id="category-row" type="text/x-kendo-template">
        <tr data-id="#:Id#">
            <td data-bind="text: DefaultName"></td>
            <td><button class="waves-effect waves-teal btn editBtn">Редактировать</button> 
            <button class="waves-effect waves-teal btn deletBtn">Удалить</button></td>
        </tr>
    </script>
</script>
