@model IEnumerable<MakeEvent.Web.Models.Admin.NewsMvcViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="card hoverable">
                <div class="card-content">
                    <img class="crdImg" src="@Url.Action("GetImage", "News",
                        new { id = item.Id })" />

                    <p>@Html.DisplayFor(model => item.LocalizedTitle)</p>
                    <p>
                        @Html.DisplayFor(model => item.LocalizedShortDescription)
                    </p>
                </div>
                <div class="card-action">
                    <button class="btn deep-purple lighten-1  btn-sm btn-default">
                        @Html.ActionLink(Localization.BtnDetailsText, "News", new { id = item.Id })
                        <span class="glyphicon glyphicon-list"></span>
                    </button>
                 
                </div>
            </div>
        </div>
    </div>
}

