@model IEnumerable<MakeEvent.Web.Models.Admin.NewsMvcViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <div class="row">
        <div class="col s12 m5">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="crdImg" src="@Url.Action("GetImage", "News",
                        new { id = item.Id })" />

                </div>
                <div class="card-content">
                    <p>@Html.DisplayFor(model => item.LocalizedTitle)</p>
                    <p>
                        @Html.DisplayFor(model => item.LocalizedShortDescription)
                    </p>
                </div>
                <div class="card-action">
                    @Html.ActionLink(Localization.BtnDetailsText, "News", new { id = item.Id })
                </div>
            </div>
        </div>
    </div>
}

