@model MakeEvent.Web.Models.Admin.NewsMvcViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-1">
    <h3>@Html.Raw(Model.LocalizedTitle)</h3>
    @if (Model.ImageData != null && Model.ImageData.Length > 0)
    {
        <img width="250" height="250"
             src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)"/>
    }
    @Html.Raw(Model.LocalizedContent)
</div>

