@model MakeEvent.Web.Models.Admin.NewsMvcViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-1">
    <h3>@Html.Raw(Model.LocalizedTitle)</h3>
    <img width="250" height="250"
         src="@Url.Action("GetImage", "News",
                        new { Model.Id })" />
    @Html.Raw(Model.LocalizedContent)
</div>

