body {
  padding: 0;
  margin: 0;
}
nav a:hover,
button a:hover {
  text-decoration: none;
  color: white;
}
button a {
  text-decoration: none;
  color: white;
}
nav .navbar-brand {
  margin-left: -150px;
  margin-top: 5px;
}
#login-form {
  margin-top: 30%;
}
#login-form input.form-control {
  text-align: center;
}
#login-form input.form-control,
#login-form label.control-label {
  margin-left: 8%;
}
.btn:hover {
  color: white;
}
.btn:focus {
  outline: none;
}
.page-block {
  margin-top: 35px;
}
.page-block .buttons {
  margin-left: 17%;
}