@red: #ef5350;
@light-teal:#e0f2f1;
@light-blue: #64b5f6;
body{
    padding:0;
    margin:0;
}
nav, button
{ a:hover{
    text-decoration: none;
    color: white;
}

}
button a{
    text-decoration: none;
    color: white;
}
nav .navbar-brand{
        margin-left: -150px;
        margin-top:5px;
}
#login-form{
    margin-top: 30%;
     input.form-control{
         text-align: center;
     }
      input.form-control, label.control-label{
             margin-left: 8%;
}

}
.btn{
    &:hover{
        color: white;
    }
    &:focus{
        outline: none;
    }
}
.page-block{
        margin-top: 35px;
        .buttons{
            margin-left: 17%;
        }
}