@model MakeEvent.Web.Models.Admin.PageMvcViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.Raw(Model.LocalizedContent)
        </dd>
    </dl>
</div>
